extends layout

block content
    h1= title
    p Welcome to #{title}
    p
        button(
            ng-click="obtenerAuto()",
            ng-show="!model"
        )
            span Obtener auto
    p(ng-show="model") {{model.automovil.caracteristicasAutomovil.marca.descripcionInterna}} {{model.automovil.caracteristicasAutomovil.subMarca.descripcionInterna}} {{model.automovil.modelo}}

    br

    p
        button(ng-click="test()") Test
